img{
    width:400px;
    margin-left:250px;
    border-radius: 10px;
}

h1:hover{
    color:green;
    cursor: pointer;
}
p{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
p:hover{
    color:aquamarine;
    cursor: pointer;
}
div{
    border:50px solid yellowgreen;
    height:500px;
    border-radius: 5px;
}